* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(220, 191, 144);
    color: aliceblue;
    font-family: sans-serif;
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.image {
    background-image: url(pngwing.com.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 300px;
    height: 200px;
}

h1 {
    text-align: center;
    margin-top: 1%;
    cursor: default;
}

h2 {
    text-align: center;
    margin-top: 2%;
    cursor: default;
}

.answerContainer {
    display: grid;
    grid-template-columns: 300px 300px;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    justify-content: center;
    margin-top: 2%;
}

.kitxva {
    text-align: center;
    margin-top: 2%;
    cursor: default;
}

.question {
    text-align: center;
    margin-top: 1%;
    font-size: 25px;
    cursor: default;
}

.scoreContainer {
    text-align: center;
    margin-top: 5%;
}

.score {
    font-size: 25px;
    cursor: default;
}

.point {
    font-size: 30px;
    cursor: default;
}

a {
    text-align: center;
    text-decoration: none;
    color: aliceblue;
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    background-image: url(pngwing.com.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 300px;
    height: 200px;
}
.answerContainer a:nth-child(1) {
    background-color: #3498db; 
}

.answerContainer a:nth-child(2) {
    background-color: #e74c3c;
}

.answerContainer a:nth-child(3) {
    background-color: #2ecc71;
}

.answerContainer a:nth-child(4) {
    background-color: #f39c12; 
}
.answerContainer a {
    text-align: center;
    text-decoration: none;
    color: aliceblue;
    display: block;
    border: 2px solid #fff;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
}
.pop-up {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5%;
    width: 400px;
    height: 300px;
    background-color: #9ba59a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.pop-up .title,
.pop-up .pop-up-score,
.pop-up .restart-question,
.pop-up .restart-button {
    margin: 10px;
}
.pop-up-score{
    color: #7712f3;
    font-size: 40px;
}
.title{
    font-size: 20px;
}
.restart-button{
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background-color: #3498db;
    border: none;
    color: #fff;
    font-size: 15px;
}

